*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* colors and their names don't match but I'm lazy to change it */
:root{
    --color-blue: #3FA34D;
    --color-lightblue: #0a7ea1;
    --color-red: #207394;
    --color-lightgreen: #7678ED;
    --color-darkgreen: #3D348B;
    --color-orange: #F35B04 ;
    --color-dark: #264653;
}
.text-blue{ color: var(--color-blue);}
.text-red{ color: var(--color-red);}
.text-orange{ color: var(--color-orange);}
.text-lightgreen{ color: var(--color-lightgreen);}
.text-darkgreen{ color: var(--color-darkgreen);}
.text-dark{ color: var(--color-dark);}
.blue{ background-color: var(--color-blue);}
.red{ background-color: var(--color-red);}
.orange{ background-color: var(--color-orange);}
.lightgreen{ background-color: var(--color-lightgreen);}
.darkgreen{ background-color: var(--color-darkgreen);}
.dark{ background-color: var(--color-dark);}

body{
    height: 100vh;
    margin: 0 ;
    padding: 0;
}
.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.navbar{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    font-size: 0.8em;
}
.navbar-item{
    text-align: center;
    height: 3.5em;
    display: flex;
    align-items: center;
}
.navbar-item-caption{
    height: 1.5em;
    text-align: center;
    background-color: var(--color-darkgreen);
}
.general-button{
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: transparent;
    transition: background-color 0.3s linear, transform 0.3s ease-out;
}
.general-button:hover{
    cursor: pointer;
}
.general-button:active{
    transform: scale(1.1);
}
.options-button:hover{
    color: var(--color-darkgreen);
}
.start-button{
    background-color: var(--color-lightblue);
    color: #fff;
}
.start-button:hover{
    background-color: var(--color-blue);
}

.speed-container{
    margin-top: 0.2em;
    padding: 0.2em 0.5em;
}

.range-caption{
    font-size: 1em;
    display: block;
    text-align: center;
}

.custom-select {
    position: relative;
    font-size: 1em;
    background-color: transparent;
    height: 100%;
}
.custom-select:hover{
}
.custom-select select {
    font-size: inherit;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 40%;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 30%;
}

.select-items div,.select-selected {
    padding: 0.5em 0 0.5em 0.3em;
    border: none;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    text-align:left;
}
.select-items div{
    background-color: var(--color-lightgreen);
    transition: background-color 0.3s linear;
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: var(--color-darkgreen);
}

.select-selected {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 1em 1em 1em 0.3em;
}

.slidecontainer {
    width: 100%; 
}
.slider {
    -webkit-appearance: none;  
    overflow: hidden;
    appearance: none;
    width: 100%; 
    height: 1em; 
    outline: none; 
    border-radius: 5px;
    border: 1px solid var(--color-dark);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1em; 
    height: 1em; 
    cursor: pointer;
    background: var(--color-lightblue);
    box-shadow: -80px 0 0 80px var(--color-dark);
}
.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: #000; 
    cursor: pointer;
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--color-blue); 
}
input[type="range"]::-moz-range-track {  
  background-color: #fff;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--color-blue); 
}
input[type="range"]::-ms-fill-upper {  
  background-color:  #fff;
}